version: '3.8'
services:
  db:
    image: mysql:8.0
    container_name: frota-db
    restart: always
    environment:
      MYSQL_DATABASE: frota_db
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  adminer:
    image: adminer
    restart: always
    ports:
      - "8081:8080"
    environment:
      ADMINER_DEFAULT_SERVER: frota-mysql-1

volumes:
  db_data: